.card1 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;

  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
.card1:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.1);
  z-index: 9;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card1:hover:before {
  transform: scale(2.15);
}

.touch {
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.touch span {
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.touch:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:black;
  border-radius: 10px;
  transition: all 0.35s;
}

.touch:hover {
  color: #fff;
}

.touch:hover:after {
  width: 100%;
}
.mainloader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
}
.mainloader2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 1300px;
}

.loader {
  width: 44.8px;
  height: 44.8px;
  color: orange;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

@media screen and (max-width:796px) {
  .mainloader2{
    width: auto;
    position: relative;
    left: 70px;
  }
  
}