.card1 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;

  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
.card1:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.1);
  z-index: 9;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card1:hover:before {
  transform: scale(2.15);
}

.touch {
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #36454f;
  background-color: transparent;
  border: 2px solid #36454f;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.touch span {
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.touch:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #36454f;
  border-radius: 10px;
  transition: all 0.35s;
}

.touch:hover {
  color: #fff;
}

.touch:hover:after {
  width: 100%;
}

